<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="1421303274749826" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.thechefstars.com/instagram" /> 
    <meta property="og:title"           content="TheChefStars 主廚之星 Instagram" /> 
    <meta property="og:description"     content="TheChefStars 主廚之星邀請您將您用 Instagram app 拍攝的美食照片或影片與我們分享，TheChefStars 現在開放 Instagram 照片與影片上傳功能。" /> 
    <meta property="og:image"           content="http://farm3.staticflickr.com/2806/9930930034_c9a444257f_o.png" /> 
<% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
  
     <font color="gray" size ="6" face = "Baskerville Old Face">為節省付款手續費，捐贈更多給弱勢兒童，請多多利用ATM轉帳付款
        </font>
          <% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
   
            <% end %>
        </font>
     
  </center>
</head>

<body>


</body>
