
<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face"><center>
<%= link_to 'Pin +', new_pin_path %> |
<%= link_to "所有訂單", orderlists_path %> |
<a href="http://www.chef29.com/categories" >Categories</a>

</center></font>

