<!DOCTYPE html>
<html>

<head>
<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/dish2" /> 
    <meta property="og:title"           content="Chef29 今晚大廚 - 2號餐點: 
美國農業部精選牛板腱牛排搭配野生香菇與迷迭香醬汁" />
    <meta property="og:description"     content="牛板腱牛排又被稱為牛肩膀，這牛排有種特別香的味道，讓它完全不需要任何的調味料就可享用，而且它細嫩到不用醃漬就可以用中火料理。野生香菇迷迭香醬汁: 先將醬汁煮好讓他發展出更激烈的香味。過程中不斷的發泡, 濃縮, 最後成金焦糖色。您真的可以聞到香菇和迷迭香的香味，一個好的牛排應該得到最好的香菇醬!" /> 
    <meta property="og:image"           content="http://farm3.staticflickr.com/2836/10754575425_17c55822b1_o.png" /> 
<% end %>

<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face">2 號餐. 美國農業部精選牛板腱牛排</font>

<% if user_signed_in? %>

<% else %>
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>

<% end %>
  </font>
</center>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=479820998782220";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<center>
<a href="http://www.chef29.com/dish1" class="btn btn-default disabled">1 號餐</a>
<a href="http://www.chef29.com/dish3" class="btn btn-default disabled">3 號餐</a>

</center>
<br><br>

<img src="http://farm4.staticflickr.com/3808/11004046233_1ed7f19172_o.png" width="1156" height="1013" alt="Dish 2 nov 8th full">

<br><br>
<center>
<a href="http://www.chef29.com/dish1" class="btn btn-default disabled">1 號餐</a>
<a href="http://www.chef29.com/dish3" class="btn btn-default disabled">3 號餐</a>

</center>



<hr>
<br>
<center>
<div class="fb-comments" data-href="http://www.chef29.com/dish2" data-colorscheme="light" data-numposts="5" data-width="The pixel width of the plugin"></div></center>
</body>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>
