<!DOCTYPE html>
<html>

<head>
<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/dish3" /> 
    <meta property="og:title"           content="Chef29 今晚大廚－3 號餐: 里昂風匈牙利松阪豬肉風沙拉" />
    <meta property="og:description"     content="里昂風沙拉 (Salad Lyonnaise)  是一個傳統的法式沙拉, 與苦菊(frisée)培根,麵包丁,和水波蛋做成. 這道沙拉非常味道和含有蛋白質,你可以不必大老遠飛到法國(里昂)享受這道當地的名菜！ Chef 29 使用匈牙利松阪豬肉去代替培根.匈牙利松阪豬肉有大理石般的肌紋，油花分布勻稱，肉質鮮嫩富彈性,甜美而不膩,十分獨特 .嫩中帶香且散發出淡淡的肉香味,是所有豬肉中口感最佳的部位連日本天皇都愛不釋手,擁有讓人無法抗拒的甘甜美味!" /> 
    <meta property="og:image"           content="http://farm4.staticflickr.com/3784/12382240603_820685cd53_o.jpg" /> 
<% end %>

<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face">3 號餐. 里昂風匈牙利松阪豬肉風沙拉</font>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<% if user_signed_in? %>

<% else %>
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>

<% end %>
  </font>
</center>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=479820998782220";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="http://farm8.staticflickr.com/7376/10865432235_c38d4c9a88_o.png" width="150" height="310" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="http://farm6.staticflickr.com/5542/10865422046_415fca3c0d_o.png" width="150" height="301" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="http://farm8.staticflickr.com/7405/10866846856_8fc17bfde9_o.png" width="160" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="http://farm6.staticflickr.com/5518/11040768243_3debf5b9f2_o.png" width="160" height="380" alt="kart"></a>
</center>
</center>

<center>
<a href="http://www.chef29.com/dish1" class="btn btn-default disabled">1 號餐</a>
<a href="http://www.chef29.com/dish2" class="btn btn-default disabled">2 號餐</a>
<a href="http://www.chef29.com/dish3" class="btn btn-default disabled">3 號餐</a>
<a href="http://www.chef29.com/dish4" class="btn btn-default disabled">4 號餐</a>
<a href="http://www.chef29.com/dish5" class="btn btn-default disabled">5 號餐</a>
<a href="http://www.chef29.com/dish6" class="btn btn-default disabled">6 號餐</a>
</center>
<br><br>


<img src="http://farm4.staticflickr.com/3822/12382364304_45f1649ab1_o.png" width="1184" height="940" alt="dish 3 Nov 8th full">
<br><br>
<center>
<font color="red" size ="4" face = "Baskerville Old Face">(請備妥橄欖油，糖，鹽巴與黑胡椒。)</font>
</center>
<br><br>

<br><br>

<center>
<a href="http://www.chef29.com/dish1" class="btn btn-default disabled">1 號餐</a>
<a href="http://www.chef29.com/dish2" class="btn btn-default disabled">2 號餐</a>
<a href="http://www.chef29.com/dish3" class="btn btn-default disabled">3 號餐</a>
<a href="http://www.chef29.com/dish4" class="btn btn-default disabled">4 號餐</a>
<a href="http://www.chef29.com/dish5" class="btn btn-default disabled">5 號餐</a>
<a href="http://www.chef29.com/dish6" class="btn btn-default disabled">6 號餐</a>
</center>
<br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="http://farm8.staticflickr.com/7376/10865432235_c38d4c9a88_o.png" width="150" height="310" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="http://farm6.staticflickr.com/5542/10865422046_415fca3c0d_o.png" width="150" height="301" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="http://farm8.staticflickr.com/7405/10866846856_8fc17bfde9_o.png" width="160" height="301" alt="howtobuy"></a>

</center>
  </div>

  <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="http://farm6.staticflickr.com/5518/11040768243_3debf5b9f2_o.png" width="160" height="380" alt="kart"></a>
</center>
</center>

<hr>
<center>
<div class="fb-comments" data-href="http://www.chef29.com/dish1" data-colorscheme="light" data-numposts="5" data-width="The pixel width of the plugin"></div></center>
</body>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>