<head>
<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face">餐點 2. Seared Flounder with Yellow & Green Bean Salad over Millet</font>

<% if user_signed_in? %>

<% else %>
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>

<% end %>
  </font>
</center>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=479820998782220";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<center>
<a href="http://www.chef29.com/dish1" class="btn btn-default disabled">1 號餐</a>
<a href="http://www.chef29.com/dish3" class="btn btn-default disabled">3 號餐</a>

</center>
<br><br>

<a href="" title="Flickr 上 mattwusta 的 instructions"><img src="http://farm6.staticflickr.com/5546/10359527715_e3b7a5cc8c_o.png" width="1176" height="2024" alt="instructions"></a>

<br>
<center>
<div class="fb-comments" data-href="http://www.chef29.com/dish2" data-colorscheme="The color scheme used in the plugin" data-numposts="5" data-width="The pixel width of the plugin"></div></center>
</body>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

