<title> Chef29 今晚大廚 － 了解更多 Learn more about Chef29 www.chef29.com! ! </title>
<center><div class="page-header">
    <font color="gray" size ="6" face = "Baskerville Old Face">常問問題</font>
          <% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>

<% end %>
        </font>
  </center>

<div class="center hero-unit">
  <head>
    <font size ="4">
      <center>
    常問問題
      </center>
    </font> 
  </head>
<br>

<br>

  <body>
   <font color="#5CA5FF" size ="4" face = "Baskerville Old Face">1. 為什麼要以計程車代替一般快遞？</font>
<br>
   <font size ="3" >對Chef29 今晚大廚的服務來說，最重要的是把新鮮的食材送到各買家手上，因此時間限制是我們選擇以計程車代替其他快遞服務的主要原因。在尋找快遞的配合廠商時，我們也考慮過許多的知名快遞／宅急便服務如統一黑貓宅即便，但就算黑貓是目前最大的快遞廠商，在時間限制上依然無法滿足我們嚴格的要求。
<br><br>
    因黑貓今天早上取貨，必須等到隔天下午才會送到，肉放冷藏會壞掉，菜放冷凍會壞掉。加上一般費用 ＄150上下，若在台北市已經與計程車相差不遠了。
<br><br>


  </font>



 </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</div>