<title> Chef29 今晚大廚-了解更多 Learn more about Chef29  on www.chef29.com!  </title>
<center><div class="page-header">
    <font color="gray" size ="6" face = "Baskerville Old Face">常問問題</font>
          <% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>

<% end %>
        </font>
  </center>

<div class="center hero-unit">
  <head>
    <font size ="5">
      <center>
   Frequently Asked Questions
      </center>
    </font> 

    <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/faq" /> 
    <meta property="og:title"           content="Chef29 今晚大廚- 常問問題" /><meta property="og:description"     content="Chef29今晚大廚 －大廚為您準備食譜與食材，送到府上29分鐘讓您變大廚。" /> 
    <meta property="og:image"           content="http://www.pernaton.com.tw/wp-content/uploads/2013/09/faq01.jpg" /> 
<% end %>
  </head>
<br>

<br>

<body>
   <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點訂購截止時間為？</font>
<br>
   <font size ="3" >為每週5下午1點30分 （隔周3下午出貨餐點）。</font>
<br><br>

 <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點付款截止時間為？</font>
<br>
   <font size ="3" >為每週5下午3點30分（隔周3下午出貨餐點）。</font>
<br><br>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點出貨時間為？</font>
<br>
   <font size ="3" >本週訂購餐點出貨時間為下週3中午過後。</font>
<br><br>
<hr>

 <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點送貨有限制地區嗎？</font>
<br>
   <font size ="3" >因為我們送餐點費用是由買家在餐點送到時自費，因此我們沒有限制送貨地點。但因為我們是以計程車與機車快遞從（金山南路/金華街）出貨，請買家先自行預估運費。我們也會持續在建立取貨地點，不便之處請您多多包含。
<br><br>

   <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點出貨地點在哪裡？</font>
<br>
   <font size ="3" >目前所有餐點出貨地點為台北市中心金山南路與金華街，往台北各地區的距離都差不多。
<br><br>

  </font>

   <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 為什麼3份餐以上要以計程車代替一般快遞？</font>
<br>
   <font size ="3" >因為訂購滿3份餐點的箱子太大機車快遞無法送，所以才換計程車來代替機車。</font>
<br><br>

  <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 用計程車快遞不會太奢侈嗎？</font>
<br>
   <font size ="3" >
   我們算過其實還好，從目前餐點出貨到各台北地區平均運費大約在＄150上下。
<br><br>
  假設您的月薪為＄4萬台幣，一個禮拜工作40小時，一個月工作160小時，等於您每小時薪資為＄250。
<br><br>
在假設您為了料理一道料理，從您家裡走到超市 20分鐘，在超市採買 30分鐘，再走回家20分鐘，等於買菜您得花1小時又10分鐘，您的時間成本已經超過＄250。這還不包括您找不到食材，必須跑去第二家超市的時間。
<br><br>
因此若您自己採買食材的時間成本＄250 > $150 的快遞成本，其實透過我們購買餐點反而更便宜，而且不用浪費因沒吃完而得丟掉的菜。

  </font>
<br><br>

  <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點都會幾點送到？</font>
<br>
   <font size ="3" >目前我們只有禮拜三下午開始出貨，您在訂購餐點時可以填入您想要收到餐點的時間（2小時窗口），若無特別意外我們應該都可以準時將食材送到。</font>
<br><br>

   <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點會送到門口嗎？</font>
<br>
   <font size ="3" >若是機車快遞可以直接送到門口，但若您訂購滿3份餐點我們將以計程車代替機車快遞，因此我們會請司機到您指定收貨地址時打電話給您，屆時在麻煩您到樓下馬路旁取貨，不便之處請多多包含。</font>
<br><br>

<hr>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 料理需要有什麼特別廚房用具？</font>
<br>
<font size ="3" >食材方面您只需要鹽巴，黑胡椒與橄欖油。廚房用具您只需要一般的鍋子，炒菜鍋與刀子，其他的我們都會幫您準備好。
<br><br>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 每道料理需要多少時間準備？</font>
<br>
   <font size ="3" >我們所有的食譜都設計好讓您在30分鐘以內就可以準備好。
<br><br>

     <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 每道餐點有多少卡路里？</font>
<br>
   <font size ="3" >我們的餐點都是為了健康與美味而設計，因此每道餐點平均在500-700卡路里。
<br><br>

     <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 你們的食材都是從哪裡買的？安全嗎？</font>
<br>
   <font size ="3" >我們餐點用的食材來源跟許多高級餐廳相同，同時我們也會使用許多國外進口的食材。在食材方面的安全請您放心，因為我們所有的員工，包括創辦人自己每餐都是吃一樣的食材。
<br><br>
     <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 食材可以保存多久？</font>
<br>
   <font size ="3" >我們的食材都是為了讓您在收到餐點當周使用，但為了食材的新鮮度我們建議您先料理海鮮類。
<br><br>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 我需要洗蔬菜水果嗎？</font>
<br>
   <font size ="3" >是的我們建議您在料理前先洗過蔬菜水果。
<br><br>

  <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 食材已經清理，切好可以直接料理嗎？</font>
<br>
   <font size ="3" > 我們強調的是學習與體驗料理一道精緻美食的過程，而非為了方便省事隨便吃一頓飯了事，也為了衛生考量，因此我們只有為您分配好食材份量，但不會幫您處理食材到可以直接料理，因為處理食材是學習料理的基本過程。
<br><br>

     <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 你們會提供更多餐點選擇嗎？</font>
<br>
   <font size ="3" >會的，目前我們只是剛起步，以後每週會提供更多餐點選擇，也包括素食餐點。
<br><br>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 我們什麼時候可以取消餐點？</font>
<br>
<font size ="3" > 您可以在餐點訂購截止時間（訂餐當周五下午 1:30分）前取消餐點，請依照（如何購買 >取消訂單）的步驟來完成。</font>
<br><br>

<hr>
  <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 你們會捐出跟我們一樣的餐點給慈善基金會嗎？</font>
<br>
   <font size ="3" >不會，我們希望能夠為社會做些有意義的事，因此目的只是為了幫助弱勢朋友/兒童能夠少挨餓一餐，但捐出山珍海味不是我們應該做的，因此我們看物價漲跌平均會捐出＄5-＄10一餐。每個月要作善事的金額裡有50％會捐出，另外50%將挪給愛心餐庫存。</font>
<br><br>

<hr>
  <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 你們是勸募活動嗎？</font>
<br>
   <font size ="3" >不是， 我們是家想作善事的營利事業並不是在勸募，未來還將在創造就業機會努力，因此請因為我們的餐點的價值而購買，請勿以因為慈善而購買。</font>
<br><br>


    <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> Chef29 今晚大廚的公司是？</font>
<br>
   <font size ="3" >迪士洛普有限公司 <br>
    地址： 106台北市忠孝東路4段107號12樓之4 <br>
    電話： 02-2392-6225</font>
<br><br>
 </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</div>