<!DOCTYPE html>
<html>

<head>
<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/give "> 
    <meta property="og:title"           content="Chef29 今晚大廚- 買 1 捐 1 - Buy 1 Donate 1">
    <meta property="og:description"     content="每當您在Chef 29 今晚大廚購買一份餐點，我們將會捐一份餐點或同一份餐的金額幫助弱勢兒童。" /> 
    <meta property="og:image"           content="http://farm3.staticflickr.com/2888/10416396945_54a7db71a1_o.png" />
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
<center><font color="#5CA5FF" size ="6" face = "Baskerville Old Face"> BUY 1 DONATE 1</font> <font color=gray size ="6" face = "Baskerville Old Face"> - 買 1 捐 1  </font>
 
 <center><i><font color = "gray" size ="4" face = "Baskerville Old Face">Living A Life Of Purpose - 過著有意義的人生</font></i></center>
 <hr>

</center>

<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=479820998782220";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="center hero-unit">
  
<center>  <div class="flex-video widescreen"><iframe width="600" height="350"  src="//www.youtube.com/embed/D_I8D3trLZs" frameborder="0" allowfullscreen></iframe></center>
<br>

<p><h3><font color="#5CA5FF">DO GOOD </font>&<font> 作善事</h3></p>

<p> 
<font color = "white"> <%= link_to '買 1 捐 1', new_orderlist_path, class: "btn btn-large btn-success" %></font>
</p>
<br>

</div>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> THE  PROBLEM  -  問題 </font>

<center><i><font color = "gray" size ="4" face = "Baskerville Old Face"  >請協助我們幫助那些需要幫助的人</font></i></center>
<hr>
<%=image_tag("give.png", alt: "give", :size => '1000x490')%>

<hr>
<center><font color = "gray" size ="6" face = "Baskerville Old Face"> WE WANT TO HELP  - 我們想幫忙 </font>
 <center><i><font color = "gray" size ="4" face = "Baskerville Old Face"  >但我們只是剛起步的小小新創事業, 所以只能計劃這麼作...</font></i></center>
 
<hr>

<img src="http://farm8.staticflickr.com/7371/10469728104_5b88a4ced2_o.png" width="950" height="810" alt="plan1"></a><center><font color = "white" >

<br><br>
 <%= link_to '買 1 捐 1', new_orderlist_path, class: "btn btn-large btn-success" %></font></center><br><br>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> We Donate To - 捐贈機構 </font></center>
 <center><i><font color = "gray" size ="4" face = "Baskerville Old Face"  >因人手不足，Chef29 今晚大廚只能暫時仰賴這些機構代為行善</font></i></center>


<br><br>
 
 <script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</center>
</html>

