<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/learnvideos" /> 
    <meta property="og:title"           content="Chef29 今晚大廚 <主廚之家-料理影音教學>" /> 
    <meta property="og:description"     content="由 Chef29 主廚的角度鷹眼（Eagle Eye)拍攝影片，親自教導您如何料理每道餐點，只有訂購餐點的朋友們會透過EMAIL收到影片連結與密碼。Chef29 很好奇想問一下，我們這樣做是否為台灣第一？" /> 
    <meta property="og:image"           content="https://farm8.staticflickr.com/7447/13485745845_c20fb14933.jpg" /> 
<% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
  
  <font color="gray" size ="6" face = "Baskerville Old Face">主廚之家，主廚鷹眼料理教學影片
    </font>

  </font>   
</center>


<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>
<br><br>

<img src="https://farm8.staticflickr.com/7249/13484001335_282974c8af_o.png" width="1451" height="450" alt="what1"></a></div>
<br><br>

<center>
  <div class="flex-vimeo2 widescreen"><iframe src="//player.vimeo.com/video/90399230?byline=0" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
</center>


<hr>
<center>
<font color="gray" size ="6" face = "Baskerville Old Face">影音教學測試中，請多多包含
    </font></center>
<hr>
<br><br><br>
<center>

<font color="gray" size ="4" face = "Baskerville Old Face">《主廚之家 ｜House Of Chefs》
<br><br>

  第二季，第一集 
  <br><br>
  (請輸入 透過EMAIL 收到的密碼)

  <br><br> 
  </font>

   <br><br>

<font color="red" size ="4" face = "Baskerville Old Face">（建議用桌機觀看影片)</font>
<br><br>
  
    蒜味芝麻葉細扁麵襯嫩煎牛小排

<br><br>

<center>
  <div class="flex-vimeo2 widescreen"><iframe src="//player.vimeo.com/video/90398464?byline=0" width="700" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> </div>
</center>


<font color="red" size ="4" face = "Baskerville Old Face">（建議用桌機觀看影片)</font>
<br><br>

嫩煎海鱸魚襯四季豆佐鮮橙蕃茄莎莎
<br><br>

<div class="flex-vimeo2 widescreen"><iframe src="//player.vimeo.com/video/90406538?byline=0" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> </div>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>
<br><br><br><br>
<center><font color = "gray" size ="6" face = "Baskerville Old Face"> BON APPETIT! </font></center>
<br>
<center>
 
        </font>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>