<!DOCTYPE html>
<html>
<head>
  <% content_for :head do %>
  <meta property="fb:app_id"          content="479820998782220" /> 
  <meta property="og:type"            content="website" /> 
  <meta property="og:url"             content="http://www.chef29.com/how" /> 
  <meta property="og:title"           content="Chef29 今晚大廚-如何購買" /> 
  <meta property="og:description"     content="Chef29今晚大廚每週推出不同餐點，為您準備食譜，購買食材，分裝後送到您府上。" /> 
  <meta property="og:image"           content="http://farm4.staticflickr.com/3666/9783210552_31c4c07975_o.jpg" /> 
<% end %>

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

</head>


<center><div class="page-header">
  <font color="gray" size ="6" face = "Baskerville Old Face">發現，學習，體驗，享受，吸收，分享，回饋...</font>

<% if user_signed_in? %>
<% else %>
        </font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
<% end %>

<hr>

<center><img src="http://farm8.staticflickr.com/7349/10572608364_37f5dbcdec_o.png" width="1852" height="368" alt="ing-ae2e2477a9cc62e816b3afabfec9a53d"></a></center>

<br>
<br>
<% if user_signed_in? %>
  <center><i><font color = "white" > <%= link_to '買 1 捐 1',new_orderlist_path, class: "btn btn-large btn-success" %></font></i></center>
<% else %>
      
<% end %>
</center>
<center><img src="http://farm8.staticflickr.com/7352/10572560646_6a807feab7_o.png" width="1348" height="446" alt="how1-219b0a936e99202d88f1aee6f8dd71f1"></a><center>

<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> THIS IS NOT JUST EATING , IT'S A JOURNEY OF LEARNING </font></center>

<center><i><font color = "gray" size ="4" face = "Baskerville Old Face" >不僅是吃頓飯，這是一輩子學習的旅程。</font></i></center>

<hr><br><br>
<img src="http://farm8.staticflickr.com/7455/10573495264_3c3bd33887_o.png" width="1400" height="177" alt="how11"><br><br>
<hr>
<img src="http://farm6.staticflickr.com/5544/10573432215_c21d52852e_o.png" width="1406" height="606" alt="how22"></a>
<hr>
<img src="http://farm8.staticflickr.com/7399/10573713603_193678309f_o.png" width="1406" height="492" alt="how33"></a>
<hr>
<img src="http://farm4.staticflickr.com/3687/10573494824_b141557773_o.png" width="1406" height="714" alt="how44"></a>
<hr>
<img src="http://farm3.staticflickr.com/2809/10573474036_6f6e7b3763_o.png" width="1406" height="464" alt="how 55"></a>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> 付款帳號 </font></center>
<center><i><font color = "gray" size ="4" face = "Baskerville Old Face" >請在出貨日（星期三）前兩天（禮拜一）下午3點30分前完成付款</font></i></center>
<hr>
<img src="http://farm3.staticflickr.com/2845/10572560456_23439626d9_o.png" width="1416" height="446" alt="how5-aea7f204915463e61f0e5c4eac6bdeb3"></a>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> 完成餐點轉賬／匯款，請告知帳號末5碼＋金額</font></center>
<center><i><font color = "gray" size ="4" face = "Baskerville Old Face" >為方便對賬，請在完成轉賬／匯款後告知 1. 帳號末5碼 2. 付款金額</font></i></center>
<hr>
<br><br>
<img src="http://farm6.staticflickr.com/5530/10574081333_3be7383c7a_o.png" width="1406" height="422" alt="how66"></a><br><br>
<br><br>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face">不方便之處，請多多包涵</font></center>
<center><i><font color = "gray" size ="4" face = "Baskerville Old Face" >很抱歉我們暫時只以轉賬／匯款收費， 近日將加上信用卡與超商收費服務。</font></i></center>
<hr>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>
