
<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="1421303274749826" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.thechefstars.com/instagram" /> 
    <meta property="og:title"           content="TheChefStars 主廚之星 Instagram" /> 
    <meta property="og:description"     content="TheChefStars 主廚之星邀請您將您用 Instagram app 拍攝的美食照片或影片與我們分享，TheChefStars 現在開放 Instagram 照片與影片上傳功能。" /> 
    <meta property="og:image"           content="http://farm3.staticflickr.com/2806/9930930034_c9a444257f_o.png" /> 
<% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
  
     <font color="gray" size ="6" face = "Baskerville Old Face">"Follow Us On Instagram  @THECHEFSTARS"
        </font>
          <% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
   
            <% end %>
        </font>
     
  </center>
</head>

<body>
<div class="center hero-unit">
	<div class="container-fluid">
	<div class="row-fluid">
	<div class="span6">

  <center>
		<iframe src="//instagram.com/p/euIEovi3KC/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
</div>


<div class="span6">
	<center>
		<iframe src="//instagram.com/p/efMo14Lp-m/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
		</div>
		</div>
</div>

<hr>

<div class="container-fluid">
	<div class="row-fluid">
	<div class="span6">

  <center>
		<iframe src="//instagram.com/p/euIXhgi3KV/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
</div>


<div class="span6">
	<center>
		<iframe src="//instagram.com/p/enJqrTq26s/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
		</div>
		</div>
</div>

<hr>

<div class="container-fluid">
	<div class="row-fluid">
	<div class="span6">

  <center>
		<iframe src="//instagram.com/p/euJyldC3La/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
</div>


<div class="span6">
	<center>
		<iframe src="//instagram.com/p/elEPGWwEMi/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
		</div>
		</div>
</div>

<hr>

<div class="container-fluid">
	<div class="row-fluid">
	<div class="span6">

  <center>
		<iframe src="//instagram.com/p/euIKZmi3KK/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
</div>


<div class="span6">
	<center>
		<iframe src="//instagram.com/p/eh4aQbn29-/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
		</div>
		</div>
</div>


<hr>

<div class="container-fluid">
	<div class="row-fluid">
	<div class="span6">

  <center>
		<iframe src="//instagram.com/p/edRABGLpx3/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
</div>


<div class="span6">
	<center>
		<iframe src="//instagram.com/p/eYC3WFLp1J/embed/" width="450" height="500" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	</center>
		</div>
		</div>
</div>




</div>

