<!DOCTYPE html>
<html>

<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face">Why Chef29 今晚大廚？</font>

<% if user_signed_in? %>

<% else %>
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>

<% end %>
  </font>
</center>


<head>
<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/why" /> 
    <meta property="og:title"           content="Chef29 今晚大廚" /><meta property="og:description"     content="Chef29今晚大廚 －吃的更好更健康更省錢，同時還可以幫助弱勢兒童。" /> 
    <meta property="og:image"           content="http://farm4.staticflickr.com/3761/9730599510_a74ae4585d_o.png" /> 
<% end %>


</head>

<body>
 <font color="#5CA5FF" size ="5" face = "Baskerville Old Face"><i>Chef29 今晚大廚跟 "吃" (EATING) 這動詞沒有太多關聯，而是將 “美食料理” (Fine Dinning）當作 ”人生學習“ (Learning) 的重要科目，希望讓各位越吃越有品味，越健康，越懂得享受一生裡數量有限的每一餐。 Chef29 今晚大廚將為您準備頂級料理的食譜，再為您採買與分配好食材的份量，最後送到您府上讓您享受學習料理的樂趣，您在29分鐘內就可享受自己料理的大廚級美食！<br><br>透過 Chef29 今晚大廚訂購餐點除了可以享受美味餐點外還有許多好處!</i></font><hr>
<br>
<br>
<font color="#5CA5FF" size ="5"face = "Baskerville Old Face">省很多錢</font><br>
<font color="gray" size ="4"face = "Baskerville Old Face">假設您家裡像大部份的都市人是不開火的，而您心血來潮想在家裡料理以下這道菜(1人份)，為此您準備好採買單並前往全聯超市(公認最便宜超市)血拼。而以下將是您為了要做這一道料理，在全聯超市買食材時所需要花的錢。<br></font><br>

<a href=""><img src="http://farm4.staticflickr.com/3692/10440699475_df1090453b_o.png" width="1358" height="1842" alt=""></a>
<hr>
<br><br>
<font color="#5CA5FF" size ="5"face = "Baskerville Old Face">減少浪費</font><br>
<font color="gray" size ="3"face = "Baskerville Old Face">您有這樣的經驗嗎？有時候想自己料理一道菜而因此跑去超市買了許多菜，但因為不想連續4-5餐都吃同一道菜，最後食材放久壞了只好丟了它。<br></font><br>

<a href=""><img src="http://farm4.staticflickr.com/3767/10442024685_31a3178e89_o.png" width="1360" height="1416" alt="Why2"></a>
<hr>
<font color="#5CA5FF" size ="5"face = "Baskerville Old Face">省時間</font><br>
<font color="gray" size ="4"face = "Baskerville Old Face">為了要做一道料理常常要跑好幾個地方菜才可以買齊，現在透過 Chef29 今晚大廚訂購餐點，可以為您省下寶貴的時間。<br></font><br>

</body>


</html>