<br><br>
    <font size="5" color ="gray" face = "Baskerville Old Face">所有訂單</font>
    <hr>
     <table class="table table-striped">
        <thead>
            <tr>
               <font size="2" color ="gray" face = "Baskerville Old Face"> 
                <th>訂單#</th></font>
                <th>下訂單時間</th>
                <th>訂購人</th>
                <th>EMAIL</th>
                <th>查看訂單</th>
                <th>取消訂單</th>
                <th>完成付款日期</th>
                
            </tr>
        </thead>

    <br>
    <div id="orderlists">
        <%= render @orderlists %>
    </div>
       
</table>
