
<% if user_signed_in? %>
    <h3>新訂單</h3>
    <br><br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>訂單 #</th>
                <th>下單時間</th>
                <th>訂購人</th>
                <th>訂購人EMAIL</th>
                <th>餐點數量</th>
                <th>費用</th>
                <th>查看訂購單</th>
                <th>刪除</th>
            </tr>
        </thead>

        <tbody>
            <%= render @orderlists %>
        </tbody>
    </table>
<% else %>
      
<% end %>
   

