<br><br>
    <font size="5" color ="gray" face = "Baskerville Old Face">所有訂單</font>
    <hr>
     <table class="table table-striped">
        <thead>
            <tr>
               <font size="2" color ="gray" face = "Baskerville Old Face"> 
                <th>訂單#</th></font>
               
                <th>訂購人</th>
                <th>電話</th>
                <th>原地址</th>
                <th>送禮</th>
                <th>新地址</th>
                <th>1號</th>
                <th>2號</th>
               <th>3號</th>
               <th>4號</th>
               <th>5號</th>
               <th>6號</th>
               <th>1周水果</th>
               <th>連續水果</th>
               <th>訂單</th>
                <th>取消</th>
               
                <th>付款</th>
                <th>出貨</th>
            </tr>
        </thead>

    <br>
    <div id="orderlists">
        <%= render @orderlists %>
    </div>
       
</table>
