<div class="page-header">
 <center><font color="gray" size ="6" face = "Baskerville Old Face">本週菜單訂購</font></center>
</div>


<font color="gray" size ="5" >購買餐點</font>

<%= render 'form' %>

<%= link_to 'Back', root_path %>
