<p>您好 <%= @resource.email %>!</p>

<p>有人申請了更換密碼的連結，您可以透過以下連結來更換新密碼。</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>如果你沒有申請更換密碼，請不要理會此EMAIL。</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<p>您的密碼直到您透過以上連結更改後才會產生新密碼。</p>
